venv/
.env/
.envrc
.venv/

__pycache__/
*.py[cod]
*$py.class

*.log
*.pot
*.pyc

.vscode/
.idea/
*.swp
*.swo

.coverage
.pytest_cache/
.tox/
.mypy_cache/
.dmypy.json
.cache/

build/
dist/
*.egg-info/
.eggs/

.ipynb_checkpoints/
